<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="QuoteReminderContext"
         connectionString="Server=81f9cfce-a3f9-48da-810e-a4670134d6cc.sqlserver.sequelizer.com;Database=db81f9cfcea3f948da810ea4670134d6cc;User ID=rgrkepuvwijpjodw;Password=6VztAbwDwSS8ybXs3EcpsnEg7UxiU5qyVUdKkdbP2jbAZXyZEdSXE2HSqsvNKoSz;" />
  </connectionStrings>
  
</configuration>

  
